<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Perun_v1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Perun_v1.Properties.Settings>
            <setting name="MYSQL_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQL_User" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQL_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQL_DB" serializeAs="String">
                <value />
            </setting>
            <setting name="OTHER_LOTATC_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="OTHER_SRS_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="OTHER_LOTATC_USE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OTHER_SRS_USE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MYSQL_Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DCS_Server_Port" serializeAs="String">
                <value>48620</value>
            </setting>
            <setting name="DCS_Instance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OTHER_Log_Level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OTHER_Minimize_to_Tray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OTHER_Log_Rotate" serializeAs="String">
                <value>True</value>
            </setting>
        </Perun_v1.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
