<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Perun_v1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Perun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Perun_v1.Properties.Settings>
            <setting name="MYSQL_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQL_User" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQL_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQL_DB" serializeAs="String">
                <value />
            </setting>
            <setting name="OTHER_LOTATC_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="OTHER_SRS_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="OTHER_LOTATC_USE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OTHER_SRS_USE" serializeAs="String">
                <value>False</value>
            </setting>
			<setting name="LOG_LEVEL" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="CLOSE_TO_TRAY" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="MYSQL_Port" serializeAs="String">
                <value>3306</value>
            </setting>
        </Perun_v1.Properties.Settings>
        <Perun.Properties.Settings>
            <setting name="MYSQL_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQL_User" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQL_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQL_DB" serializeAs="String">
                <value />
            </setting>
            <setting name="OTHER_LOTATC_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="OTHER_SRS_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="OTHER_LOTATC_USE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OTHER_SRS_USE" serializeAs="String">
                <value>False</value>
            </setting>
        </Perun.Properties.Settings>
    </userSettings>
</configuration>